@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap");
@import "tailwindcss";
/* @tailwind base;
  @tailwind components;
  @tailwind utilities; */

/* กำหนดให้ใช้ฟอนต์ Kanit เป็นค่าเริ่มต้น */
body {
  font-family: "Kanit", sans-serif;
}
.modal-backdrop {
  position: fixed;
  background: linear-gradient(
    135deg,
    rgba(30, 30, 60, 0.7) 0%,
    rgba(0, 120, 120, 0.4) 100%
  );
  backdrop-filter: blur(6px);
}

.modal-backdrop::before {
  content: "";
  background: radial-gradient(
    circle at 50% 50%,
    rgba(255, 255, 255, 0.15) 0%,
    transparent 70%
  );
  opacity: 0.5;
}

/* ถ้ามีการ fade (เช่น Bootstrap) */
.modal-backdrop.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.modal-backdrop.show {
  opacity: 1;
}

.tooltip-container {
  position: relative;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 100;
  margin-top: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
